<%= form.inputs do %>
  <%= form.input :introduction, :input_html => { :id => 'wmd-input' }  %>
	<li>
		<div id="wmd-button-bar"></div>
		<h4>Preview</h4>
		<div id="wmd-preview"></div>
	</li>
	
<% end %>