
<%= render :partial => 'profiles/page_links', :locals => { :profile => @main_page.profile }  %>

<h2>Edit Main Page</h2>

<%= form_for @main_page do |form| %>
  <%= render :partial => 'form', :object => form %>
  <%= form.submit 'Save' %>
<% end %>