<h2>Profile Unavailable</h2>
<p>
	Welcome to <strong>Teaching Profile</strong>.  You have requested the profile for <strong><%= @owner_name %></strong>.  Unfortunately the profile is not currently available to view.  Please contact the profile owner(<strong><%= @owner_email %></strong>) and ask them to make the profile available.
</p>