
	<h2 class=" banner round-top">Edit Profile</h2>
	<div class="content">
		<div class="helper">
			<p>This is where you can set up the basic details of your profile and control whether it's published. When your profile is unpublished, only you will be able to view it.
			</p>
		</div>

		<%= semantic_form_for @profile do |form| %>
		  <%= render :partial => '/profiles/form', :object => form %>
		  <%= form.submit 'Save', :class => 'button positive' %>
		<% end %>
  </div>
