<%= render :partial => '/profiles/control_bar' %>

<section class="span-22 last round-top">
	<h2 class=" banner round-top">Edit Profile</h2>
	<div class="content round-bottom">
		<p>This is where you can set up the basic details of your profile and control whether it's published.</p>

		<%= semantic_form_for @profile do |form| %>
		  <%= render :partial => '/profiles/form', :object => form %>
		  <%= form.submit 'Save', :class => 'button positive' %>
		<% end %>
  </div>
</section>
