
<section class="span-22 last round-top">
	<h2 class=" banner round-top">New Position</h2>
	<div class="content round-bottom">

		<%= semantic_form_for([@experience_page, @position]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		<% end %>
	</div>
</section>