
<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">Edit Place</h2>
	<div class="content round-bottom">
	
	  <%= semantic_form_for([@experience_page, @qualification]) do |form| %>
      <%= render :partial => 'form', :object => form %>
    <% end %>
  </div>
</section>