/* Body */

body {
 	background: white url(/images/header_background.png) repeat-x;
	overflow: scroll;
	line-height: 24px;
	color: #999;
}


/* Header */

header {	
	margin-bottom: 50px;
}

div#logo {
 	background: transparent url(/images/header_background.png) repeat-x;
	height: 135px;
}

/* Footer */

div#footer {
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #CCC;
	background: transparent url(/images/footer_fade.png) repeat-x;
}

/* Global Elements */

h1, h2, h3 {
	color: #2086b0;
}

body a {
	color: #999;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

/* Tables */

table {
	color: #2086b0;
}

table tr:hover {
	background-color: #d7e9f1;
}

table#profiles td.name {
	font-weight: bold;
}

table#profiles td a {
	font-weight: normal;
}


/* forms */
form {
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #6a8aa2;
}

form ul, form ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

form.button_to, form.button_to div {
	display: inline;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.inline-hints {
  color: #b2b2b2;
}

form abbr {
	border: none;
}

label {
	display: block;
	font-size: larger;
}

label.inline {
	display: inline;
}


textarea {
	width: 95%;
}

input[type=text], input[type=password], input[type=email], input[type=checkbox], .customStyleSelectBox  {
  line-height: 2.5em;
}

input[type=text], input[type=password], input[type=email], input[type=checkbox], textarea, .customStyleSelectBox {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  border: 1px solid #BBB;
  font-size: larger;
  padding: 0 1em 0 1em;
  margin-bottom: 12px;
  -moz-box-shadow: inset 5px 5px 5px #EEE;
  -webkit-box-shadow: inset 5px 5px 5px  #EEE;
  box-shadow: inset 5px 5px 5px #EEE;
}


.selectbox  {
  margin-top: 6px;
  color: black;
  width: 200px;
  background: white url(/images/select-box-arrow.png) no-repeat 96%  center;
}

/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-10px;
  padding:0px;
  text-align:left;
  max-height:200px;
  overflow:auto;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected {
  background-color: #EAF2FB;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current {
  background-color: #CDD8E4;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
  color: black;
}


textarea {
	padding-top: 6px;
	padding-bottom: 6px;
}

textarea#wmd-input {
	margin-bottom: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, textarea:focus {
	border: 1px solid #7bd9d4;
    box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE;
    -webkit-box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE; 
    -moz-box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE;
}

p.side-hint {
	float: right;
	color: gray;
}




/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
  -moz-border-radius:    7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius:         7px 7px 0 0;
}

.round-bottom {
  -moz-border-radius:    0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius:         0 0 7px 7px;
}


.round-left {
  -moz-border-radius:    7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  border-radius:         7px 0 0 7px;
}


/* Drop Shadow */

.shadow {
  -moz-box-shadow: 3px 3px 3px #2a2a2a;
  -webkit-box-shadow: 3px 3px 3px #2a2a2a;
  box-shadow: 3px 3px 3px #2a2a2a;
}

/* Navigation */


header.main nav, div#control-bar{
/*  background: #DDD url(/images/navbar.png) repeat-x;*/
  background-color: transparent;
  padding: 0 0.7em;
  white-space: nowrap;
  height: 2em;
/*	background: white url(/images/logo-fade.png) repeat-x bottom;*/
/*  border-bottom:  1px solid black;*/
/*  text-shadow: black 0.1em 0.1em 0.2em;*/
  text-decoration: none;
  font-size: larger;
}


span#status {
	vertical-align: middle;
}

header.main nav {
  	text-align: right;
  	color: white;
/*  border-top: 1px solid black;*/
}

header.main nav a {
	color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

header.main nav ul li {
  margin: 1px 0;
/*  border-left: 1px solid #757575;	*/
}

header nav ul li.impact a {
  font-weight: bold;
}

header.main a {
/*  color: white; /*#d0d0d0;*/*/
  text-decoration: none;
}


header nav ul li a:hover {
  text-decoration: underline;
}

/* side bar */

nav#profile-sidebar {
	height: 100% !important;
/*	background: black url(/images/side-top.png) repeat-x;*/
/*	background-color: #f1f1f1;*/
/*	color: white;*/
/*	padding-bottom:100px;
	padding-top: 60px;*/
	-moz-border-radius:    0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;
	border-radius:         0 0 7px 0;
	text-align: right;
}

nav#profile-sidebar ul {
	list-style: none;
	text-align: right;
	border-top: 1px solid #CCC;
}

nav#profile-sidebar ul li {
	padding: 10px 0 10px 0;
	margin-left: 20px;
}	

nav#profile-sidebar ul li a {
/*	color: white;*/
/*	text-shadow: black 0.1em 0.1em 0.2em;*/
	text-decoration: none;
	font-weight: bold;
	display: block;
	color: #6a8aa2;
}

nav#profile-sidebar p {
/*	font-style: italic;*/
/*	padding: 0 12px 0 12px;*/
}

.sidebar-selected {
	background: white
}

.sidebar-selected a {
	color: black !important;
	font-size: larger;
/*	text-shadow: none !important;*/
}

#profile-sidebar h3 {
/*	color: white !important;*/
	padding-top: 10px;
}

#profile-sidebar a {
/*	color: white;*/
}


/* control bar */

nav#navbar {
	background-color: transparent;
/*	color: white;*/
	margin-bottom: 36px;
	
}

div#control-bar a {
/*	color: white;*/
}

div#control-bar span {
	margin-bottom: 0;
}

/* content */

div.content form{
	margin-bottom: 24px;
}

ul.clean-list {
	list-style: none !important;
	padding: 0;
}

li.qualification-container {
	margin-bottom: 20px;
	padding: 20px;
}

div.subject {
    border: 1px solid #BBB;
  	-moz-box-shadow: 5px 5px 5px #EEE;
  	-webkit-box-shadow: 5px 5px 5px  #EEE;
  	box-shadow: 5px 5px 5px #EEE;
}

div.subject header{
	background-color: #6a8aa2;
	color: white;
}

table.experience-table th {
	font-size: 115%;
	padding: 0.5em;
	font-weight: bold;
	color: #6a8aa2;
}

table.experience-table td {
	border-top: 2px solid white;
	padding: 0.5em;
	/*background-color: #e4edf4;*/
}


td.centered, th.centered {
	text-align: center;
}

table.rounded-corners tr:first-child th:first-child {
	border-top-left-radius: 5px;
}
table.rounded-corners tr:first-child th:last-child {
	border-top-right-radius: 5px;
}
table.rounded-corners tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}
table.rounded-corners tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

header.qualification nav {
	/*float: right;*/
	padding: 0 7px;
}

header.qualification nav ul li {
	padding-right: 0;
}

header.qualification {
	padding: 5px;
}

li.qualification-container {
	padding: 0;
	margin-top: 36px;
}


header.qualification h4 {
	color: white;
	padding-left: 12px;
}

header.qualification a {
	color: white;
}

div.qualification-inner {
	padding: 12px;
}


header.qualification nav {
	text-align: right;
}

div.subject {
	padding: 0;
}

/* Datepicker */
#ui-datepicker-div {
	background-color: white;
	border: 1px solid #DDD;
}

div#flash {
/*	margin-top: 20px;
	margin-bottom: 10px;*/
	float: left;
	position: absolute;
}

p.helper, div.helper {
/*	background: #b8cfae url(/images/quote-left.png) no-repeat;*/
/*	border: 1px solid #a9b5a3;
	padding: 16px 52px;*/
/*	font-size: larger;*/
	color: #4b5149;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;
	margin-bottom: 24px;
}

p.helper form, div.helper form {
	margin-top: 24px;
	font-size: smaller;
	padding: 0;
}

form.distinct {
/*	background: white url(/images/form_background.png) repeat-x;*/
/*	color: white;*/
	margin-bottom: 12px;
	padding: 12px;
}


h2.profile-name {
	color: #980056;
}

div.document-area{
	border-top: 1px solid #AAA;
/*	background-color: #f6fafb;*/
/*	background: transparent url(/images/document-background.png);*/
	padding: 6px 0;
	margin-bottom: 24px;
}