/* Body */

body {
 	background: white url(/images/header_background.png) repeat-x;
	overflow: scroll;
	line-height: 24px;
	color: #777;
	margin-top: 12px;
}


div#display-logo{
	margin-bottom: 30px !important;
}

div.container {
/*	background-image: none;*/
/*	background-color: white;*/
}

body.plain {
	background-image: none;
}

/* Header */

header {	
	margin-bottom: 36px;
}

div#logo {
 	background: transparent url(/images/header_background.png) repeat-x;
}


/*div.logo {
	height: 100px;	
}*/

div.export-logo {
	text-align: right;
}

/* Footer */

div#footer {
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #CCC;
	background: transparent url(/images/footer_fade.png) repeat-x;
}

/* Global Elements */

h1, h2, h3, strong, .impact {
	color: #2086b0;
}

body a {
	color: #444;
}

h2 {
/*	font-size: 14px;*/
	font-weight: bold;
/*	border-bottom: 1px solid #CCC;
	padding-bottom: 6px;*/
}

/* Tables */

table {
	color: #2086b0;
}


table#profiles td.name {
	font-weight: bold;
}

table#profiles td a {
	font-weight: normal;
}


/* forms */
form {
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #6a8aa2;
}

form ul, form ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

form.button_to, form.button_to div {
	display: inline;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.inline-hints {
  color: #b2b2b2;
}

form abbr {
	border: none;
}

label {
	display: block;
	font-size: larger;
}

label.inline {
	display: inline;
}


textarea {
	width: 95%;
}

input[type=text], input[type=password], input[type=email], input[type=checkbox], .customStyleSelectBox, .file-chooser  {
  line-height: 2.5em;
}

input[type=text], input[type=password], input[type=email], input[type=checkbox], textarea, .customStyleSelectBox, .file-chooser {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
  border: 1px solid #BBB;
  font-size: larger;
  padding: 0 1em 0 1em;
  margin-bottom: 12px;
  -moz-box-shadow: inset 5px 5px 5px #EEE;
  -webkit-box-shadow: inset 5px 5px 5px  #EEE;
  box-shadow: inset 5px 5px 5px #EEE;
}


.selectbox  {
  margin-top: 6px;
  color: black;
  width: 200px;
  background: white url(/images/select-box-arrow.png) no-repeat 96%  center;
}

/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  margin-top:-10px;
  padding:0px;
  text-align:left;
  max-height:200px;
  overflow:auto;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected {
  background-color: #EAF2FB;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current {
  background-color: #CDD8E4;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
  color: black;
}

ul {
	margin: 0;
}


textarea {
	padding-top: 6px;
	padding-bottom: 6px;
}

textarea#wmd-input {
	margin-bottom: 0;
}

div#wmd-preview {
	color: #999;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus, textarea:focus {
	border: 1px solid #7bd9d4;
    box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE;
    -webkit-box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE; 
    -moz-box-shadow: 0 0 5px #7bd9d4, inset 5px 5px 5px #EEE;
}

p.side-hint {
	float: right;
	color: gray;
}




/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
  -moz-border-radius:    7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius:         7px 7px 0 0;
}

.round-bottom {
  -moz-border-radius:    0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius:         0 0 7px 7px;
}


.round-left {
  -moz-border-radius:    7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  border-radius:         7px 0 0 7px;
}


/* Drop Shadow */

.shadow {
  -moz-box-shadow: 3px 3px 3px #2a2a2a;
  -webkit-box-shadow: 3px 3px 3px #2a2a2a;
  box-shadow: 3px 3px 3px #2a2a2a;
}

/* Navigation */


header.main nav, div#control-bar{
/*  background: #DDD url(/images/navbar.png) repeat-x;*/
  background-color: transparent;
  padding: 0 0.7em;
  white-space: nowrap;
  height: 2em;
/*	background: white url(/images/logo-fade.png) repeat-x bottom;*/
/*  border-bottom:  1px solid black;*/
/*  text-shadow: black 0.1em 0.1em 0.2em;*/
  text-decoration: none;
  font-size: larger;
}


/*span#status {
	vertical-align: top;
}*/

header.main nav {
  	text-align: right;
  	color: white;

/*  border-top: 1px solid black;*/
}

header.main nav a {
	color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

header.main nav ul li {
  margin: 1px 0;
/*  border-left: 1px solid #757575;	*/
}

header nav ul li.impact a {
  font-weight: bold;
}

header.main a {
/*  color: white; /*#d0d0d0;*/*/
  text-decoration: none;
}


header nav ul li a:hover {
  text-decoration: underline;
}

/* side bar */

nav#profile-sidebar {
	height: 100% !important;
/*	background: black url(/images/side-top.png) repeat-x;*/
/*	background-color: #f1f1f1;*/
/*	color: white;*/
/*	padding-bottom:100px;
	padding-top: 60px;*/
	-moz-border-radius:    0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;
	border-radius:         0 0 7px 0;
	text-align: right;
}

nav#profile-sidebar ul {
	list-style: none;
	text-align: right;
	border-top: 1px solid #CCC;
}

nav#profile-sidebar ul li {
	padding: 10px 0 10px 0;
	margin-left: 20px;
}	

nav#profile-sidebar ul li a {
/*	color: white;*/
/*	text-shadow: black 0.1em 0.1em 0.2em;*/
	text-decoration: none;
	font-weight: bold;
	display: block;
	color: #6a8aa2;
}

nav#profile-sidebar p {
/*	font-style: italic;*/
/*	padding: 0 12px 0 12px;*/
}

.sidebar-selected {
	background: white
}

.sidebar-selected a {
	color: black !important;
	font-size: larger;
/*	text-shadow: none !important;*/
}

#profile-sidebar h3 {
/*	color: white !important;*/
	padding-top: 10px;
}

#profile-sidebar a {
/*	color: white;*/
}


/* control bar */

nav#navbar {
	background-color: transparent;
/*	color: white;*/
	margin-top: 10px;
	margin-bottom: 12px;
	height: 42px !important;

}

div#control-bar a {
/*	color: white;*/
}

nav#navbar span, nav#navbar ul, nav#navbar ul li, nav#navbar ul li a {
	vertical-align: middle !important;
}

nav#navbar input {
	margin: 0;
}


nav#navbar a.btn {
	color: black;
}

div#control-bar span {
	margin-bottom: 0;
}

/* content */

div.content {
	margin-bottom: 0; /* 52px; */
}

div.content form{
/*	margin-bottom: 24px;*/
}

ul.clean-list {
	list-style: none !important;
	padding: 0;
}

li.qualification-container {
	margin-bottom: 20px;
	padding: 20px;
}

div.subject {
    border: 1px solid #BBB;
  	-moz-box-shadow: 5px 5px 5px #EEE;
  	-webkit-box-shadow: 5px 5px 5px  #EEE;
  	box-shadow: 5px 5px 5px #EEE;
}

div.subject header{
	background-color: #6a8aa2;
	color: white;
}

table.experience-table th {
	font-size: 115%;
	padding: 0.5em;
	font-weight: bold;
	color: #6a8aa2;
}

table.experience-table td {
	border-top: 2px solid white;
	padding: 0.5em;
	vertical-align: top;
	/*background-color: #e4edf4;*/
}


td.centered, th.centered {
	text-align: center;
}

table.rounded-corners tr:first-child th:first-child {
	border-top-left-radius: 5px;
}
table.rounded-corners tr:first-child th:last-child {
	border-top-right-radius: 5px;
}
table.rounded-corners tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}
table.rounded-corners tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

header.qualification nav {
	/*float: right;*/
	padding: 0 7px;
}

header.qualification nav ul li {
	padding-right: 0;
}

header.qualification {
	padding: 5px;
}

li.qualification-container {
	padding: 0;
	margin-top: 36px;
}


header.qualification h4 {
	color: white;
	padding-left: 12px;
}

header.qualification a {
	color: white;
}

div.qualification-inner {
	padding: 12px;
}


header.qualification nav {
	text-align: right;
}

div.subject {
	padding: 0;
}

/* Datepicker */
#ui-datepicker-div {
	background-color: white;
	border: 1px solid #DDD;
}

div#flasha {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}


div.helper {
/*	border: 1px dotted gray;*/
	background: #edf290  url(/images/post-it.png) repeat-x;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
/*	padding: 16px 52px;*/
/*	font-size: larger;*/
/*	color: #4b5149;*/
	-moz-border-radius:    10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius:         10px 10px 10px 10px;
	-moz-box-shadow: 3px 3px 4px #999;
	-webkit-box-shadow: 3px 3px 4px #999;
	box-shadow: 3px 3px 4px #999;
	margin-bottom: 24px;
	padding: 12px 12px 12px 6px;
	color: #333;
	width: 75%;
/*	font-family: 'Georgia', 'Times New', serif;*/
}



div.helper p {
	background: transparent  url(/images/quote-left.png) no-repeat 0px 5px;
	padding-left: 42px;
	margin-left: 6px;
	margin-bottom: 0;
/*	padding-top: 12px;*/
}

p.helper form, div.helper form {
	margin-top: 24px;
	font-size: smaller;

}


form.distinct {
/*	background: white url(/images/form_background.png) repeat-x;*/
/*	color: white;*/
	margin-bottom: 12px;
	padding: 12px;
}


h2.profile-name {
	color: #980056;
}

div.document-area h2 {
	border-bottom: 1px solid #AAA;
}

div.document-area{
/*	background-color: #f6fafb;*/
/*	background: transparent url(/images/document-background.png);*/
	padding: 6px 0;
	margin-bottom: 24px;
	float: left;
	clear: both;
	width: 100%;
}

div.document-area nav {
	float: left;
	clear: both;
}


.gallery li {
	float: left;
	display: inline;
	list-style: none;
	margin: 3px 3px 0 3px;
}


li.file {
	margin-bottom: 12px;
}

div.pdf {
    background:transparent url(/images/Reader-48.gif) top left no-repeat;
}

div.word {
    background:transparent url(/images/Word-48.gif) top left no-repeat;
}

div.text {
    background:transparent url(/images/Reader-48.gif) top left no-repeat;
}

div.mp3 {
    background:transparent url(/images/mp3-48.png) top left no-repeat;	
}

div.excel {
    background:transparent url(/images/Excel-48.gif) top left no-repeat;
	
}

div.file-box {
	padding-left: 60px;
	margin-bottom: 12px;	
}

ul.document-list {
	list-style: none;
}

div.file-box a {
	color: #2086b0;
}


div.user-info {
  position: fixed;
  top: 0;
  right: 0;
  margin: 6px 6px 0 0;
  width: 33% !important;
}


div.user-info ul {
	list-style: none;
}

#display-logo h1, #display-logo h2, #display-logo h3, #display-logo h4 {
	margin-bottom: 6px;
}

#display-logo h1 {
	font-weight: bold;
	color: #065397 !important;
}

.side-header {
	text-align: right;
}

.experience-list {
	list-style: none;
}

#profile-sidebar {
	text-align: right;
}

ul.experience-list {
	padding: 0;
}

ul.experience-list li {
	margin: 36px 0 !important;
}

div.position-details h4 {
	margin: 4px 0 0 0;
}

div.position-details p {
	margin: 0;
}

p.position-type, li.subject-area {
	color: #2086b0;
}

div#profile-sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


/*th, table {
	border-bottom: solid 2px #BBB;
}

td {
	color: black;
}

th {
	background-color: #EEE;
}
*/
div.publication-form, div.marketing-banner	 {
/*	border-bottom: solid 2px #b7eaa3;*/
	margin: 36px 0px;
	background-color: whiteSmoke;
	padding: 12px 12px 12px 24px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
	border: 1px solid #ddd;
	color: #404040;
}

div.marketing-banner {
	padding: 36px;
	width: 700px;
}

div.publication-form p{
	display: inline;
}

p.date {
	color: #999;
}

tr.header-row th {
	background: whiteSmoke;
	color: black;
	font-weight: normal;
}

table {
	border-top: 1px solid #ddd;
	border-bottom: none;
	margin-bottom: 0;
}

td, th {
	border-bottom: 1px solid #ddd;
}

button, input[type=submit] {
/*	background-color: red;*/
}


nav.action-bar {
	margin-top: 24px;
	background: whiteSmoke;
	border-top: 1px solid #ddd;
	padding: 12px 12px 24px 12px;
	-moz-border-radius: 0 0 10px 10px;
  	-webkit-border-radius:  0 0 10px 10px;
 	border-radius:  0 0 10px 10px;
	width: 100%;
}



nav.table-base {
	background: #f9f9f9;
	padding: 6px;
}

a.ss_sprite {
	color: #666;
}


.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
a.btn {
	text-decoration: none;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
:root .alert-message, :root .btn {
  border-radius: 0 0;
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

p.publication-status {
	margin-right: 18px;
}

li.subject-area {
	margin-bottom: 24px;
}

p.warning {
	position: absolute;
	width: 20%;
	right: 0;
}
