<nav class="span-6" id="profile-sidebar">
	<h3>Dashboard</h3>
	<p class="center">
		Welcome <%= current_user.first_name %>
	</p>
	<p>
		This is your dashboard when you can manage your teaching profiles.
	</p>
	<p>
		You can have up to three profiles at a time to help you tailor your profiles to specific jobs.
	</p>
</nav>