<h2>Dashboard</h2>

<h3>Welcome <%= current_user.first_name %></h3>

<% if @profiles.length == 0 %>
  <p>Lets create your first teaching profile!</p>
<% end %>

<table id="profiles">
<% @profiles.each do | profile | %>
  <tr>
    <td><%= profile.name %></td>
    <td><%= button_to 'Edit', { :controller => 'profiles', :action => 'edit', :id => profile.id }, :method => 'get' %></td>
  </tr>
<% end %>
</table>

<% if @profiles.length < Profile::LIMIT %>
<%= button_to 'Create', new_profile_path, :method => 'get' %>
<% end %>