
<h2 class=" banner round-top">Editing your account</h2>
<div class="content round-bottom">
	
	<%= semantic_form_for @user do |form| %>
	  <%= render :partial => '/users/form', :locals => { :form => form, :edit_password => false } %>
	  <%= form.submit 'Save', :class => 'btn	' %>
	<% end %>
 </div>
