<h2 class=" banner round-top">Sign Up</h2>
<div class="content round-bottom">
	<%= semantic_form_for @user do |form| %>
	  <%= render :partial => '/users/form', :locals => { :form => form, :edit_password => true } %>
		<nav class="action-bar">
	  	<%= form.submit 'Sign up', :class => 'btn success' %>
			<%= link_to 'Back', :back %>
		</nav>
	<% end %>
 </div>
