<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">Edit Sample Work Page</h2>
	<div class="content round-bottom">
		<p class="helper">This is where you can provide examples of the work you've produced.</p>
		<% if @subject_areas.length > 0 %>
		<table class="subject-area">
			<tr>
				<th>Subject area</th>
				<th></th>
				<th></th>
			</tr>
		<% for sa in @subject_areas %>
			<tr>
				<td><%= sa.name %></td>
				<td><%= link_to 'Edit', edit_sample_work_page_subject_area_path(@sample_work_page.id, sa.id), :method => 'get', :class => 'ss_sprite ss_pencil' %></td>
				<td><%= link_to 'Delete', sample_work_page_subject_area_path(@sample_work_page.id, sa.id), :confirm => "Delete this position?", :method => 'delete', :class => 'ss_sprite ss_delete' %></td>
			</tr>
		<% end %>
		</table>
		<% else %>
		<p><em>You currently don't have any subject areas listed.  Why not create one now?</em></p>
		<% end %>
		<%= link_to 'Add a subject area', new_sample_work_page_subject_area_path(@sample_work_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
	</div>
</section>