<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">Edit Sample Work Page</h2>
	<div class="content round-bottom">
		<p class="helper">This is where you can provide examples of the work you've produced.</p>
		<p><em>You currently don't have any subject areas listed.  Why not create one now?</em></p>
		<%= link_to 'Add a subject area', new_sample_work_page_subject_area_path(@sample_work_page.id), :method => 'get', :class => 'ss_sprite ss_add' %>
	</div>
</sectio