
	
	<div>
		<section>
			<h2>How do I subscribe?</h2>
			<p class="block-text">TeachingProfile is a web application designed to help teachers create simple and attractive online showcase portfolios including sample lessons or projects.</p>
			<%= link_to (image_tag 'show_page_screen_thumb.png', :alt => 'Attractive profiles', :class => 'screenshot'), asset_path('show_page_screen.png'), :class => 'gallery-link' %>
		</section>
	
	</div>



