
	
	<div>
		<section>
			<h2>How do I subscribe?</h2>
				<img class="paypal" src="https://www.paypal.com/en_US/i/bnr/vertical_solution_PPeCheck.gif" border="0" alt="Solution Graphics">
			<p class="paypal">
				We take our payment through PayPal.  You can buy a one year subscription for &pound;30 by clicking <%= link_to 'here',	'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VW97FG7A267E2' %>.
				
			</p>
			<p>
				If you have helped to spread the word about TeachingProfile by liking our page on <%= link_to 'Facebook', 'https://www.facebook.com/TeachingProfile' %> or mentioning us on <%= link_to 'Twitter', 'https://twitter.com/#!/TeachingProfile	' %> then you can subscribe for just &pound;24 by clicking <%= link_to 'here', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KFZWAT8BQBMEQ' %>.
			</p>
			
			<p>
				Once we've received your payment your account will be updated within 24 hours to reflect your subscription.  If you have any problems or questions please contact us on the email address below and we'll do everything we can to help.
			</p>
		</section>
	
	</div>



