<section class="span-20">
	<h1>TeachingProfile Terms and Conditions</h1>

	<h2>Terms and Conditions</h2>

	<h3>(1)	Introduction</h3>

	<p>These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.</p>

	<p>You must be at least 18 years of age to use our website.  By using our website and by agreeing to these terms and conditions you warrant and represent that you are at least 18 years of age.</p>

	<p>Our website uses cookies.  By using our website and agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy policy / cookies policy.</p>

	<h3>(2)	Credit</h3>

	<p>We created these terms and conditions using an SEQ Legal template from Website Law. The legal documents supplied by SEQ Legal include a range of website <%= link_to 'software contract', 'http://www.website-contracts.co.uk/acatalog/software_contracts.html' %> templates.</p>

	<h3>(3)	Licence to use website</h3>

	<p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website.  Subject to the licence below, all these intellectual property rights are reserved.</p>

	<p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.  </p>

	<p>You must not:</p>

	<ol>
		<li>republish content from this website (including republication on another website) that you did not create;</li>
		<li>sell, rent or sub-license material from the website;</li>
		<li>reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</li>
	</ol>
 
	<h3>(4)	Acceptable use</h3>

	<p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

	<p>You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>

	<p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent.</p>

	<p>You must not use our website to transmit or send unsolicited commercial communications.</p>

	<p>You must not use our website for any purposes related to marketing without our express written consent.</p>

	<h3>(5)	Restricted access</h3>

	<p>Access to certain areas of our website is restricted.  We reserve the right to restrict access to   areas of our website, or indeed our whole website, at our discretion.</p>

	<p>If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, you must ensure that that user ID and password is kept confidential.  </p>

	<h3>(6)	User generated content</h3>

	<p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to our website, for whatever purpose.</p>

	<p>You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to us the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>

	<p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or us or a third party (in each case under any applicable law).  </p>

	<p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>

	<p>We reserve the right to edit or remove any material submitted to our website, or stored on our servers, or hosted or published upon our website.</p>

	<p>Notwithstanding our rights under these terms and conditions in relation to user content, we do not undertake to monitor the submission of such content to, or the publication of such content on, our website.</p>

	<h3>(7)	Limited warranties</h3>

	<p>We do not warrant the completeness or accuracy of the information published on this website; nor do we commit to ensuring that the website remains available or that the material on the website is kept up-to-date.  We do not warrant that the the website will be error free or that errors will be fixed; nor do we warrant that access to the site will be continuous or uninterupted.</p>

	<p>To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).</p>

	<h3>(8)	Limitations and exclusions of liability</h3>

	<p>Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting from negligence; (b) limit or exclude our or your liability for fraud or fraudulent misrepresentation; (c) limit any of our or your liabilities in any way that is not permitted under applicable law; or (d) exclude any of our or your liabilities that may not be excluded under applicable law.</p>

	<p>The limitations and exclusions of liability set out in this Section and elsewhere in these terms and conditions: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the terms and conditions or in relation to the subject matter of the terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>

	<p>We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.</p>

	<p>We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</p>

	<p>We will not be liable to you in respect of any loss or corruption of any data, database or software.</p>

	<p>We will not be liable to you in respect of any special, indirect or consequential loss or damage.</p>

	<h3>(9)	Indemnity</h3>

	<p>You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>

	<h3>(10)	Breaches of these terms and conditions</H3>

	<p>Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, we may take such action as we deem appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>

	<h3>(11)	Variation</h3>

	<p>We may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of our website from the date of the publication of the revised terms and conditions on our website.  Please check this page regularly to ensure you are familiar with the current version.</p>

	<h3>(12)	Assignment</h3>

	<p>We may transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>

	<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.  </p>

	<h3>(13)	Severability</h3>

	<p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </p>

	<h3>(14)	Exclusion of third party rights</h3>

	<p>These terms and conditions are for the benefit of you and us, and are not intended to benefit any third party or be enforceable by any third party.  The exercise of our and your rights in relation to these terms and conditions is not subject to the consent of any third party.</p>

	<h3>(15)	Entire agreement</h3>

	<p>These terms and conditions, together with our privacy policy, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.</p>

	<h3>(16)	Law and jurisdiction</h3>

	<p>These terms and conditions will be governed by and construed in accordance with English law, and any disputes relating to these terms and conditions will be subject to the non-exclusive jurisdiction of the courts of England and Wales.</p>

	<h3>(17) 	Our details</h3>

	<p>The full name of our company is Enamel Software Ltd.  We are registered in England and Wales under registration number 8050569.</p>

	<p>Our registered address is: </p>

	<p>
	Smestow Gate Cottage<br />
	Smestow<br />
	Near Swindon<br />
	Dudley<br />
	West Midlands<br />
	DY3 4PJ<br />
</p>
	<p>You can contact us by email to <a href="mailto:info@teachingprofile.com">info@teachingprofile.com</a>.</p>

	<h3>(18) Billing and payments</h3>

	<p>On registration with the website you will receive a free, one week subscription to the website.  After this time you must buy a paid subscription to continue using the site.  Accounts which are unregistered for more than 28 days will be closed and all of the data will be deleted.</p>

	<p>Subscription payments must be made via Paypal. The status of your account will usually be updated within 24 hours of receipt of payment.  In the even of delays, your subscription will run from the time your account is updated. Subscriptions will run for 1 year from the account being updated, until you cancel your account or until the service is cancelled (see 19).</p>

	<p>If you decide to cancel your account (by using the 'Delete Account' functionality within your account) all of your data will be deleted.  Subscriptions are non-refundable and non-transferrable and you will lose any remaining subscription.  </p>

	<h3>(19) Service Cancellation</h3>

	<p>Enamel Software Ltd reserve the right to cancel the service at any time with one month notice given to users via their registered email address.  Enamel Software Ltd are not responsible for any failure of this notification reaching the user.  Any outstanding subscriptions will be paid for at a rate of 1/12 of the yearly subscription paid for each full or part month remaining on the subscription.  On cancellation of the service we reserve the right to delete all of your data.</p>

</section>