<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">New Project</h2>
	<div class="content round-bottom">
		<%= semantic_form_for([@subject_area, @project]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <%= form.submit 'Create', :class => 'button positive' %>
		<% end %>
	</div>
</section>