
<section class="span-18 round-top">
	<h2 class=" banner round-top">Edit Subject</h2>
	<div class="content round-bottom">

		<%= semantic_form_for([@qualification, @subject]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		<% end %>
	</div>
</section>