<section class="push-1 span-15 last round-top">
	<h2 class=" banner round-top">New Subject Area</h2>
	<div class="content round-bottom">
		<%= semantic_form_for([@sample_work_page, @subject_area]) do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <nav class="action-bar">
				<%= form.submit 'Create', :class => 'btn' %>
			</nav>
		<% end %>
	</div>
</section>