<%= form.inputs do %>
  <%= form.input :philosophy, :input_html => { :id => 'wmd-input' } %>
	<div id="wmd-button-bar" class="wmd-panel"></div>
	<h4>Preview</h4>
	<div id="wmd-preview" class="wmd-panel"></div>
<% end %>

