<section class="span-22 last round-top">
	<h2 class=" banner round-top">Edit Philosophy Page</h2>
	<div class="content round-bottom">
		<p>This is where you should explain your teaching philosophy.</p>
		<%= semantic_form_for @philosophy_page do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <%= form.submit 'Save' %>
		<% end %>
		
	</div>
</section>