
	<h2 class=" banner round-top">Edit Philosophy Page</h2>
	<div class="content">
		<div class="helper">
			<p>
				This is where you should explain your teaching philosophy.  Try to tell potential employers what type of teacher you are, the values you hold and the things you think are important.
			</p>
		</div>
		<%= semantic_form_for @philosophy_page do |form| %>
		  <%= render :partial => 'form', :object => form %>
		  <nav class="action-bar">
				<%= form.submit 'Save' %>
			</nav>
		<% end %>
		
	</div>