<div class="topbar">
	<div class="container">
		<nav>
			<h4>Teaching Profile</h4>
			<ul>
				<% if signed_in? && current_user == @profile.user %>
				<li>
					<%= link_to 'Edit this profile', {:action => 'edit'} %>
				</li>
				<li>
					<%= link_to 'Dashboard', dashboard_user_path(current_user) %>
				</li>
				<li>
					<%= link_to 'Account', edit_user_path(current_user) %>
				</li>
				<li>
					<%= button_to 'Sign out', sign_out_path, :method => 'delete' %>
				</li>
			</ul>
		</nav>
		<% end %>
	</div>
</div>